<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [excludeDays]="excludeDays">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
  *ngSwitchCase="'week'"
  [viewDate]="viewDate"
  [events]="events"
  [hourSegments]="2"
  [dayStartHour]="8"
  [dayEndHour]="20"
  [excludeDays]="excludeDays">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [hourSegments]='2'
    [dayStartHour]="8"
    [dayEndHour]="21">
  </mwl-calendar-day-view>
</div>




