<style>
  div.cal-header span{
    display: none;
  }
</style>
<div class="btn-group">
  <button (click)="changeSemester('fall')" 
  [ngClass]="semester == 'fall' ? 'btn btn-secondary btn-lg active' : 'btn btn-lg btn-primary'" >Fall</button>
  <button (click)="changeSemester('winter')" 
  [ngClass]="semester == 'winter' ? 'btn btn-secondary btn-lg active' : 'btn btn-lg btn-primary'" >Winter</button>
</div>
<div [ngSwitch]="semester">
  <mwl-calendar-week-view
  *ngSwitchCase="'fall'"
  [viewDate]="viewDate"
  [events]="fallEvents"
  [hourSegments]="2"
  [dayStartHour]="8"
  [dayEndHour]="20"
  [excludeDays]="excludeDays">
  </mwl-calendar-week-view>
  <mwl-calendar-week-view
  *ngSwitchCase="'winter'"
  [viewDate]="viewDate"
  [events]="winEvents"
  [hourSegments]="2"
  [dayStartHour]="8"
  [dayEndHour]="20"
  [excludeDays]="excludeDays">
  </mwl-calendar-week-view>

</div>




