.autocomplete {
  background: #fff;
  /* position: relative; */
  margin-top: 5%; 
  width: 100%;
  padding: 0 10px 0 10px;
}
.search-dialog {
  position: absolute;
  width: 100%;
  display: none;
  min-height: 40px;
  max-height: 330px;
  overflow: scroll;
  width: 33%;
  border-top: 1px solid #f4f4f4;
  z-index: 99;
}
.search-dialog.open {
  display: block;
}
.search-dialog div {
  padding: 20px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
  background: #fff;
}
.search-dialog div:hover, .selected{
  background: #f2f2f2;
}
i:hover{
  cursor: pointer;
  color: #7f7d7c;
}
.delete-icon {
  float: right !important;
  position: relative;
}
