body {
    background: #f5f5f5;
  }
  /* * {
    font-family: 'helvetica neue';
    box-sizing: border-box;
  } */
  .autocomplete {
    background: #fff;
    position: relative;
    width: 300px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  }
  .autocomplete .close {
    position: absolute;
    font-size: 13px;
    z-index: 10;
    top: 10px;
    left: calc(100% - 50px);
    color: #aaa;
    cursor: pointer;
    display: none;
  }
  .autocomplete .close.visible {
    display: block;
  }
  input {
    padding: 10px 10px;
    font-weight: 300;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #666;
  }
  .dialog {
    width: 100%;
    display: none;
    min-height: 40px;
    max-height: 330px;
    overflow: scroll;
    border-top: 1px solid #f4f4f4;
  }
  .dialog.open {
    display: block;
  }
  .dialog div {
    padding: 20px 10px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .dialog div:hover, .selected{
    background: #f2f2f2;
  }
